<div class="brand-block">
    <a class="brand" href="">RedisScpi</a>
    <span class="brand-caption">TCP SCPI runtime</span>
</div>

<input type="checkbox" title="Navigation menu" class="nav-toggle" />

<nav class="nav-list" aria-label="Primary navigation">
    <NavLink class="nav-link" href="" Match="NavLinkMatch.All">Runtime</NavLink>
    <NavLink class="nav-link" href="status">Status</NavLink>
    <NavLink class="nav-link" href="endpoint-link">EndpointLink</NavLink>
    <NavLink class="nav-link" href="redis-mapping">RedisMapping</NavLink>
    <NavLink class="nav-link" href="browser">Browser</NavLink>
    <NavLink class="nav-link" href="import-export">Import / Export</NavLink>
    <NavLink class="nav-link" href="log">Log</NavLink>
</nav>
